<div class="container-fluid">
    <form [formGroup]="tagSubmitForm" (ngSubmit)="onTagEdit()">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="digital-add needs-validation">

                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Tag
                                    Name</label>
                                <input class="form-control" id="validationCustom01" type="text" ngModel="{{tagname}}"
                                    required="" formControlName="tag_name" (keydown)="handleEnter($event, 'tag_desc')">
                                <div *ngIf="tag_name.invalid && (tag_name.dirty || tag_name.touched)"
                                    class="text text-danger mt-1">
                                    <div *ngIf="tag_name.errors?.required">
                                        Tag name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tag_desc" class="col-form-label pt-0"> Tag Description</label>
                                <textarea class="form-control" id="tag_desc" formControlName="tag_desc" ngModel="{{tagdesc}}"
                                    (keydown)="handleEnter($event, '')"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label pt-0 d-block">Website View Status</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"  formControlName="web_view_status" id="flexSwitchCheckChecked">
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked to set the website view</label>
                                </div>
                            </div>

                            <label class="col-form-label pt-0">Tag Image Upload (jpg, jpeg, png)</label>
                            <span class="pl-2">
                                <a href="javascrip:void(0)" (click)="open(content)">Upload guidelines</a>
                            </span>
                            <div class="card-body dropzone-custom p-0">
                                <div class="dropzone dropzone-primary" [dropzone]="config"
                                    (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
                                    <div class="dz-message needsclick">
                                        <i class="fa fa-cloud-upload"></i>
                                        <h4 class="mb-0 f-w-600">Drop files here or click to upload.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="department-images">
                                <img *ngIf="tag_image" class="img-fluid p-2" src="{{tag_image}}" alt="{{tagname}}">
                            </div>

                            <div class="form-group mb-0 mt-4">
                                <div class="product-buttons text-center">
                                    <button [disabled]="tagSubmitForm.invalid"
                                        class="btn btn-primary mr-1" type="submit">Update</button>
                                </div>
                            </div>

                            <div [className]="taginsertValid ? 'alert w-75 mx-auto mt-3 alert-success' : 'alert w-75 mx-auto mt-3 alert-danger'"
                                role="alert" *ngIf="taginsertValid">
                                <div class="d-flex align-items-center justify-content-center">{{taginsertMessage}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Image upload Instruction</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4><b>Image type:</b> JPG, JPEG, PNG </h4>
        <h4>Image must be upload under 5MB </h4>
        <h3>Image Height : 400px and Width : 400px</h3>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>