.btn {
    color: #fff;
}

// .btn-success
// {
//     background-color: #008000;
// }
// .btn-danger
// {
//     background-color: #800000;
// }
.display-none {
    display: none !important;
}

a {
    cursor: pointer !important;
}

span {
    margin-left: 1rem;
    cursor: pointer;
}