<div class="container-fluid">
    <form [formGroup]="bannerSubmitForm" (ngSubmit)="onBannerEdit()">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="digital-add needs-validation">

                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0"><span>*</span>Banner Heading</label>
                                <input class="form-control" id="validationCustom01" type="text" [ngModel]="bannerHeading" formControlName="banner_heading">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0"><span>*</span>Banner Sub Heading</label>
                                <input class="form-control" id="validationCustom01" type="text" [ngModel]="bannerSubHeading" formControlName="banner_sub_heading">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0">Banner Heading Color</label>
                                <input class="form-control" id="validationCustom01" [ngModel]="bannerHeadingColor" type="color" formControlName="banner_heading_color">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0">Banner Sub Heading Color</label>
                                <input class="form-control" id="validationCustom01" [ngModel]="bannerSubHeadingColor" type="color" formControlName="banner_sub_heading_color">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0">Banner Button Background Color</label>
                                <input class="form-control" id="validationCustom01" [ngModel]="bannerButtonBgColor" type="color" formControlName="banner_button_bg_color">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0">Banner Button Text Color</label>
                                <input class="form-control" id="validationCustom01" [ngModel]="bannerButtonTextColor" type="color" formControlName="banner_button_text_color">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Button Link
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label class="col-form-label"> Store</label>
                                <select class="form-control" formControlName="storeSlug" [(ngModel)]="bannerstore" >
                        <option value="">--Select--</option>
                        <option *ngFor="let stores of storeLists" [value]="stores.store_slug" >{{stores.store_name}}</option>
                        </select>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="digital-add needs-validation">

                            <label class="col-form-label pt-0"> Banner Background Image Upload (jpg, jpeg, png)</label>
                            <span class="pl-2">
                            <a href="javascrip:void(0)" (click)="open(content)" >Upload guidelines</a>
                        </span>

                            <div class="card-body dropzone-custom p-0">
                                <div class="dropzone dropzone-primary" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
                                    <div class="dz-message needsclick">
                                        <i class="fa fa-cloud-upload"></i>
                                        <h4 class="mb-0 f-w-600">Drop files here or click to upload.</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="store-images">
                                <img class="img-fluid p-2" src="{{uploadBannerImages}}" alt="{{uploadBannerImages}}">
                            </div>

                            <div class="form-group mb-0 mt-4">
                                <div class="product-buttons text-center">
                                    <button type="submit" [disabled]="bannerSubmitForm.invalid" class="btn btn-primary mr-1">Update</button>
                                </div>
                            </div>


                            <div [className]="bannerinsertValid ? 'alert w-75 mx-auto mt-3 alert-success' : 'alert w-75 mx-auto mt-3 alert-danger'" role="alert" *ngIf="bannerinsertValid || bannerinsertinValid">
                                <div class="d-flex align-items-center justify-content-center">{{bannerinsertMessage}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Image upload Instruction</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h4><b>Image type:</b> JPG, JPEG, PNG </h4>
        <h4>Image must be upload under 5MB </h4>
        <h3>Image Height : 400px and Width : 400px</h3>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>