.edit,
.delete {
    font-size: 16px;
    cursor: pointer;
}

.store-img {
    max-width: 35px;
    max-height: 35px;
}

.cursor-pointer {
    cursor: pointer;
}
.table a.btn {
    padding-left: 5px !important;
    color: #ffffff !important;
}
.store-btn{
    padding-left: 5px !important;
    color: aliceblue !important;
  }
.close_modal {
    right: 0;
    position: absolute;
    background: transparent;
    border: none;
    top: 1%;
}