.room-image {
    opacity: 0.8;
    width: 85px;
    height: 85px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    display: inline-block;
    margin: 10px;
  }
  .room-image:hover {
    opacity: 1;
  }
  
  .roomside-img > input {
    display: none;
  }
  .roomside-img > .room-image {
    cursor: pointer;
    border: 2px solid black;
  }
  .roomside-img > input:checked + .room-image {
    border: 2px solid orange;
    opacity: 1;
  }
  .dynamic-section img {
    max-width: 200px;
  }

  .desabled-area {
    opacity: .6;
  }
  