.edit,
.delete {
  cursor: pointer;
}

.text-black {
  color: black !important;
}

.summary_head {
  margin-bottom: 17px;
  margin-top: 10px;
}

.product-order-detail {
  align-items: center;
}

.mat-dialog-container {
  max-width: 100% !important;
}

.img-addons a img {
  max-width: 50px;
  height: auto;
}

.p-30 {
  padding: 30px;
}

th {
  white-space: nowrap;
  padding: 8px;
}

.back_btn img {
  width: 35px;
  cursor: pointer;
}