.edit {
    padding-right: 1rem !important;
}

.ng-star-inserted .product-image {
    width: 120px !important;
}

.close_modal {
    right: 0;
    position: absolute;
    background: transparent;
    border: none;
    top: 1%;
}
