<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>

        <!-- Dialog template -->

        <ng-template #departmentDelete>
            <div class="modal-content warning_popup ">
                <h3 class="modal-title text-center"><span>WARNING!</span></h3>
                <div class="warning_msg">
                    <div class="modal-header">
                        <button type="button" class="close_modal">
                            <img src="assets/images/close.webp" width="24" alt="" [mat-dialog-close]="true">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <p>Are you sure to delete "DEPARTMENT" ? it will delete all data related to this "DEPARTMENT". Be careful ! </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex">
                            <button [mat-dialog-close]="true" (click)="deleteConfirm()" class="btn btn-danger">Yes</button>
                            <button [mat-dialog-close]="true" class="btn btn-sucess">No</button>
                        </div>
                    </div>
                </div>

            </div>
        </ng-template>

    </div>
</div>